:root {
    --text-color : #181616;
    --primary-color : #fff;
    --secondary-color: #7FEB0A;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    font-size: 16px;
    color: var(--text-color);
}

table {border:none;border-collapse: collapse;}

a {
    color: var(--text-color);
    text-decoration: none;
    font-weight: 400;
    transition: color 300ms, background-color 300ms;
}

.container{
    width: 90%;
    margin: auto;
}

.cta {
    padding: 8px;
    text-decoration: none;
    color: #fff;
    background-color: var(--secondary-color);
    border-radius: 4px;
    transition: background-color 250ms;
}

.cta:hover {
    background-color: #69c00c;
}

/* Navigation */

.nav {
    width: 90%;
    margin: auto;
    padding: 1rem;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    
}
.nav__logo img {
    height: 51px;
}

.nav__menu {
    width: 80%;
    display: flex;
    justify-content: flex-end;
    list-style: none;
}

.nav__item {
    padding: 0.5rem 1rem;
}

.nav__item--highlight a, .nav__item a:hover {
    font-weight: 500;
    color: black;
}

.nav__item--cta a{
    border: 1px solid var(--secondary-color);
    padding: 10px;
    border-radius: 2px;
    color: var(--secondary-color);
}

.nav__item--cta a:hover {
    background-color: var(--secondary-color);
    color: white;
}

/* Hero section */
.hero {
    margin-top: 100px;
    margin-bottom: 60px;
    min-height: 295px;
    
    display: flex;
    justify-content: center;
    height: 100%;
}
.hero__caption {
    width: 80%;
    text-align: center;
    align-self: start;
    flex-grow: 3;
}
.hero__img {
    flex-grow: 1;
    align-self: flex-end;   
}

/* Section about us */
.about_us {
    background-color: var(--secondary-color);
    min-height: 500px;
}

.about_us__wrapper {
    display: flex;
    align-items: center;
}

.about_us__title {
    font-size: 24px;
    margin-bottom: 20px;
}

/* Fetures section */

.fetures {
    margin: 50px 0;
    display: flex;
    justify-content: space-evenly;
}
.fetures__caption {
    align-self: center;
}
.fetures__caption h3 {
    text-align: center;
}
.fetures__caption ul {
    list-style-type: square;
}

/* Location */

.location {
    min-height: 500px;
    padding: 0;
    display: flex;
    flex-direction: column;
}

.location__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    list-style: none;
    margin: 50px 0;
}

.location__card {
    background-color: #fff;
    max-width: 242px;
    box-shadow: 0px 28px 80px rgba(23, 21, 21, 0.09), 0px 3.50603px 10.0172px rgba(23, 21, 21, 0.045);
    display: flex;
    flex-direction: column;
}

.location__card iframe {
    max-width: 242px;
}

.location__card figcaption {
    text-align: center;
    padding: 12px 0px;
}

/* Shop section */
.shop {
    text-align: center;
    margin-bottom: 50px;
}

.shop__caption {
    margin-bottom: 24px;
}

/* Promotion */
.promotion {
    background-color: var(--secondary-color);
    padding: 3rem 0;
    display: flex;
}

.promotion__table {
    width: 70%;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    background-color: #69c00c;
}

.promotion__table td {
    padding: 1rem;
}

.promotion__table td:nth-child(1) {
    width: 40%;   
}

.promotion__table td:nth-child(2), .promotion__table td:nth-child(3){
    width: 30%;
}

.promotion__table td:nth-child(3) {
    background-color: #fff;
}

/* Join section */
.join {
    padding: 2rem 0;
    text-align: center;
    min-height: 30vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

/* Footer section */
.footer {
    padding: 1rem 4rem 3rem  ;
    display: flex;
    border-top: 2px solid rgb(231, 231, 231);
    margin: auto;
    justify-content: space-between;
}

.footer__menu {
    display: flex;
    list-style: none;
    width: 40%;
    justify-content: space-between;
}
.footer__menu li a:hover {
    color: black;
}